.people
	float right !important
	height 30px
	width 125px
	margin-left 22px
	font-size 12px
.cboPeople
	border 1px solid #c6c6c6
	border-radius 5px
	width 120px
	height 18px
	padding 8px 0 0 8px
.cboPeople.customSelectHover
	border 1px solid #1c9bf2
span.cboPeople
	font 12px sans-serif
	background #fff url('http://i48.tinypic.com/2u7rpec.png') right no-repeat
.cbosContent
	margin 0 0 0 310px
.iRow
	color #9a9a9a
	.title
		line-height 30px
		height 30px
		margin-top 0
		position relative
	.search
		right 0
		position absolute
		.txtSearch
			border-radius 15px
			border 1px solid #bdbdbd
			height 20px
			padding 0 0 0 25px
			font-size 12px
		.searchIcon
			background url(routImg+'icon-set.png') -192px -75px
			width 11px
			height 11px
			left 0
			margin 10px
			position absolute
.static
	color #9a9a9a
.buttonShow
	float left
	font-size 20px
.information
	float left
	font-size 12px
	margin-left 8px
	.label
		float left
	.hours
		float left
		margin-left 25px
.consoleCtn
	padding 16px 20px 0 18px
	height auto
	background #e6e6e6
	font-size 11px
.hide
	display none
.highlight
	background-color yellow
.consoleCtn
	height 250px
.ace_gutter
	z-index 1 !important