/**
* Company CSS
* @class company
* @module company.css
*/
.company
	background #FFF
	margin-top 44px
	padding 12px 20px
.listCompany
	li
		padding 4px 8px
		*zoom 1
		&:before,&:after
			display table
			content ""
			line-height 0
		&:after
			clear both
		padding-left 8px
		&.odd
			background #FFF
		&.even
			background #f8f9f9
	img
		border-radius 6px
		float left
	h3
		color #4f5259
		float left
		font-family family2
		font-size 12px
		margin-left 18px
		padding-top 18px
		width 440px
	.lnk-cruds
		float right
		padding-top 17px
		a
			color #2F323B
			float left
			font-family family2
			text-decoration underline
			font-size 12px
			& + a
				margin-left 6px