.feedback
	color #4f5259
	padding 20px 0 0 40px
	.topCrashes
		margin-top 10px
	.crashBox
		height 75px
		float left
		width 170px
		text-align center
		background #b3b3b3
		margin-right 2px
		color #fff
		.label
			font-size 11px
			margin-top 13px
		.nameSO
			font-size 24px
			line-height 30px
		.porcent
			font-size 11px
	.crashBox.active, .crashBox:hover
			color #4f5259
			background #FFF
			.nameSO
				color #f96b5b
	.chartContainer
		width 700px
		height 250px
		margin-top 60px
	.sliderVersions
		position relative
		.buttons
			position absolute
			top 0
			margin-top 40px
			z-index 1
			color #ff5a19
		.prev
			left 0
			margin-left 10px
		.next
			right 0
			margin-right 50px
.sliderVersions
	.viewport
		overflow hidden
		position relative
		height 85px
		width 688px
		.overview
			position absolute
.feedText
	.title
		border-bottom 1px solid #BFBFBF
		padding-bottom 10px
		margin-bottom 10px