/**
* Login CSS
* @class login
* @module login.css
*/
.log-decorizq,.log-decorright
	height 100%
	position absolute
	top 0
	width 50%
	z-index 1
.log-decorizq
	background #ffc932
	left 0
.log-decorright
	background #b28c23
	right 0
.decor-login
	background url(routImg+"decor-login.png")
	height 441px
	left 160px
	position absolute
	top 266px
	width 349px
	z-index 1
/*
* Forms
*/
.frm-login
	position relative
	width 198px
	z-index 2
	h2
		color #FFF
		font-family family1
		font-size 19px
		line-height 21px
		margin-bottom 10px
	input[type="text"], input[type="password"]
		background #2F323B
		color #FFF
		height 22px
		line-height 22px
		&.error
			background #FF2B01
	input[type="text"]
		width 182px
	input[type="password"]
		width 133px
	.cgroup-inline
		.control-group + .control-group
			margin-left 3px
/*
* Contents Login
*/
.ctn-login
	background #ffc932
	float left
	min-height 100%
	overflow hidden
	position relative
	width 776px
.logo-login
	font-size 0
	margin 0 auto
	margin-bottom 140px
	padding-top 130px
	position relative
	width 289px
	z-index 2
	img
		display block
.sidebar-login
	background #b28c23
	float left
	min-height 100%
	width 248px
	.frm-login
		margin 0 auto
		padding-top 250px