/**
* People CSS
* @class People
* @module people.css
*/
.ctn-people
	float left
	margin 6px 4px
	width 111px
	.peopl-img
		height 46px
		margin 0 auto 8px
		position relative
		width 46px
		img
			display block
			height 46px
			width 46px
		.icCheckYe
			position absolute
			left -8px
			bottom -4px
		.icCancelYe
			position absolute
			right -8px
			bottom -4px
		.peopl-chck
			background #ffc932
			border-radius 17px
			bottom -4px
			height 17px
			position absolute
			right -8px
			width 17px
			&.active
				span
					display block
			span
				background #000
				border-radius 8px
				display none
				height 8px
				left 50%
				margin -4px 0 0 -4px
				position absolute
				top 50%
				width 8px
	h3
		color #999
		font-family family2
		font-size 12px
		height 26px
		line-height 13px
		overflow hidden
		position relative
		text-align center
#scrollPeople
	height 633px
	width 728px
	.viewport
		height 633px
		overflow hidden
		position relative
		width 718px
	.overview
		left 0
		list-style none
		position absolute
		top 0
.ctrlAPeople
	background #262930
	padding 6px
	text-align right
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
	.btnAddPeople
		float right
		.sprites
			vertical-align middle
.popBlack
	.fancybox-skin
		background #262930
#popInvitation
	width 320px
	h3
		background #ffc932
		color #4f5259
		font-family family2
		font-size 13px
		line-height 34px
		text-align center
	.control
		margin 0
		padding 16px 0 8px
		text-align center
		& + .control
			padding 8px 0 16px
		a
			width 128px