/**
* Provisioning CSS
* @class Provisioning
* @module provisioning.css
*/
.provisioning
	margin 0 20px
	.title
		border-bottom 1px solid #bfbfbf
		padding 15px 0 10px
		.tDeta
			font-size 15px
			font-family family2
	.reportQuads
		padding 6px 0 1px
		div
			float left
			width 80px
		.quads.due
			border 1px solid #e54c51
		.quads
			border 1px solid #c2c2c2
			border-radius 5px
			float left
			height 80px
			margin 10px
			width 80px
			div
				text-align center
				color #565960
			.icon
				width 6px
				height 11px
				margin 10px 0 0 37px
			.num
				font-size 25px
				margin-top 9px
			.date
				font-size 10px
		.addNew
			border 1px dashed #C2C2C2
			text-align center
			line-height 80px
			font-size 40px