.appInfo
	.infoCtn
		.logoCo.logo
			img(src="img/logoCo.png", alt="Online Studio Productions")
			//.isprites.icCboIconCo
		select.border.cboCompany
			option(value="1") Online Studio Productions
			option(value="2") Online2 Studio Productions
			option(value="3") Online24 Studio Productions
	.infoCtn
		.logoAp.logo
			img(src="img/logoApp.png", alt="Aplicación Número 1")
			//.isprites.icCboIconApp
		select.border.cboApp
			option(value="1") JOCKEY PLAZA
			option(value="2") REAL PLAZA
	.infoCtn
		.logoDe.logo
			.isprites.icCboIconDe
		select.border.cboDevice
			option(value="1") iOS
			option(value="2") Android
	.infoCtn
		.logoAd.logo
			.isprites.icCboIconPlus
		a(href="javascript:;").border.newApp ADD NEW APP