.appTabs
	a(href="javascript:;").tab.active
		.action
			.icon
				.isprites.icTabBundle
			.title BUNDLE
	a(href="/provisioning.html").tab
		.action
			.icon
				.isprites.icTabProv
			.title PROVISIONING
	a(href="/tester.html").tab
		.action
			.icon
				.isprites.icTabTest
			.title TESTER
	.tab.emptyTab
	a(href="/console.html").tab
		.action
			.icon
				.isprites.icTabConso
			.title CONSOLE
	a(href="/feedback.html").tab
		.action
			.icon
				.isprites.icTabFeed
			.title FEEDBACK
	a(href="javascript:;").tabClose
		.iconClose
			.isprites.icBtnClose