header
	.box-center
		h1.logoClaveTres
			a(href="index.html",title="Clave 3 - Central de Alarmas") Clave 3 - Central del Alarmas
		.ctnPerfil
			ul
				li 
					img(src="/img/usuario.jpg").img
				li.userName 
					.userName Marco Ayala
					.triangle