ul.mainMenu
	li
		a(href="javascript:;",title="Técnicos").tech.active
			span.sprites
			span.tit-mmenu TÉCNICOS
			span.pointerMM
	li
		a(href="javascript:;",title="Materiales").mate
			span.sprites
			span.tit-mmenu MATERIALES
			span.pointerMM
	li
		a(href="javascript:;",title="Operaciones").oper
			span.sprites
			span.tit-mmenu OPERACIONES
			span.pointerMM
	li
		a(href="javascript:;",title="Ventas").sale
			span.sprites
			span.tit-mmenu VENTAS
			span.pointerMM