.head-ctn
	.head-lastupdt
		span.isprites.icAlert
		p Last Update 29 min ago
	.head-user
		p You are using betaflight as: 
			span Online Studio Productions
	ul.head-login
		li
			a(href="javascript:;",title="Help")
				span.isprites.icMHelp
				| HELP
		li
			a(href="javascript:;",title="Singout") SINGOUT